*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
    background-color: #d1f1fc;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
 
}

div.widget
{
  position: relative;
  width: 355px;
  height: 185px;
  margin: 80px auto;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
  background: #d1f1fc;
  transition: all 0.8s;
}

/*for hover transition */
div.widget:hover{
    transition: all 0.9s;
    box-shadow: 0px 3px 62px -17px rgb(6, 70, 98);
   
} 




div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 60px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

div.panel
{
  display: inline-block;
}

div.right-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}

/* 
#btnDownload
{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index-: 9999;
}

#btnDownload img
{
  width: 135px;
  
} */